@model AnResh.Models.Skill
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Delete";
}

<div id="app">
    <delete-component delete-skill-url="@Url.Action("Delete", "Skills")"
                      index-skill-url="@Url.Action("ViewAll", "Skills")"
                      :skill="@JsonConvert.SerializeObject(Model)">
    </delete-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Skills.js")"></script>
}