@model AnResh.ViewModels.CreatingEmployeeViewModel
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Create";
}

<div id="app">
    <create-component create-employee-url="@Url.Action("Create", "Employees")"
                      index-employee-url="@Url.Action("ViewById", "Departments")"
                      :employee="@JsonConvert.SerializeObject(Model)">
    </create-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Employees.js")"></script>
}