@model AnResh.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Хотите удалить сотрудника @Html.DisplayFor(model => model.EmployeeName)?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Удалить" class="btn" />
        </div>
    }
    <div>
        @Html.ActionLink("Назад", "ViewById", new { departmentId = Model.DepartmentId }, new { @class = "back-btn btn" })
    </div>
</div>
