@model AnResh.Models.Employee
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Delete";
}

<div id="app">
    <delete-component delete-employee-url="@Url.Action("Delete", "Employees")"
                      index-employee-url="@Url.Action("ViewById", "Departments")"
                      :employee="@JsonConvert.SerializeObject(Model)">
    </delete-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Employees.js")"></script>
}