@model AnResh.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление сотрудника</h2>

<h3>Вы действительно хотите удалить сотрудника @Html.DisplayFor(model => model.EmployeeName)?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="brand-btn btn" />
        </div>
    }
</div>

<div>
    @Html.ActionLink("Назад", "Index", "Departments", new { id = Model.DepartmentId }, new { @class = "brand-back-btn brand-btn btn" })
</div>
