@model AnResh.Models.Employee
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Edit";
}

<div id="app">
    <edit-component edit-employee-url="@Url.Action("Edit", "Employees")"
                    index-employee-url="@Url.Action("ViewById", "Departments")"
                    :employee="@JsonConvert.SerializeObject(Model)">
    </edit-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Employees.js")"></script>
}