@model IEnumerable<AnResh.ViewModels.EmployeeViewModel>
@using Newtonsoft.Json;

@{
    ViewBag.Title = "ViewAll";
}

<div id="app">
    <view-all-component :employees="@JsonConvert.SerializeObject(Model)"></view-all-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Employees.js")"></script>
}