@model AnResh.Models.UserInput
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "UserInput", FormMethod.Post))
{
    @Html.TextArea("text", Model.Text)
    <div class="buttons">
        <button class="btn" type="submit" name="action" value="UpdateFromFile">Считать данные из файла</button>
        <button class="btn" type="submit" name="action" value="SaveToFile">Сохранить данные в файл</button>
    </div>
}