@model AnResh.Models.Department

@{
    ViewBag.Title = "Create";
}

<div id="app">
    <create-component create-department-url="@Url.Action("Create", "Departments")"
                      index-department-url="@Url.Action("ViewAll", "Departments")">
    </create-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Departments.js")"></script>
}