@model AnResh.Models.Department

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Хотите удалить отдел @Html.DisplayFor(model => model.DepartmentName)?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Удалить" class="btn" />
        </div>
    }

    <div>
        @Html.ActionLink("Назад", "ViewAll", null, new { @class = "back-btn btn" })
    </div>
</div>
