
@{
    ViewBag.Title = "DeleteError";
}

<h2>Ошибка при удалении</h2>

<h3>Сначала удалите всех сотрудников из отдела.</h3>

<div>
    @Html.ActionLink("Назад", "ViewAll", null, new { @class = "back-btn btn" })
</div>