@model AnResh.Models.Department
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Delete";
}

<div id="app">
    <delete-component delete-department-url="@Url.Action("Delete", "Departments")"
                      index-department-url="@Url.Action("ViewAll", "Departments")"
                      :department="@JsonConvert.SerializeObject(Model)">
    </delete-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Departments.js")"></script>
}