
@{
    ViewBag.Title = "DeleteError";
}

<div id="app">
    <delete-error-component index-department-url="@Url.Action("ViewAll", "Departments")"></delete-error-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Departments.js")"></script>
}