@model AnResh.Models.Department

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление отдела</h2>

<h3>Вы действительно хотите удалить отдел @Html.DisplayFor(model => model.DepartmentName)?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="brand-btn btn" />
        </div>
    }
</div>

<div>
    @Html.ActionLink("Назад", "Index", null, new { @class = "brand-back-btn brand-btn btn" })
</div>
