@model AnResh.Models.Department
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Edit";
}

<div id="app">
    <edit-component edit-department-url="@Url.Action("Edit", "Departments")"
                    index-department-url="@Url.Action("ViewAll", "Departments")"
                    :department="@JsonConvert.SerializeObject(Model)">
    </edit-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Departments.js")"></script>
}